.sub-line-header {
    padding-top: 20px;
}

.sub-line-header span {
    padding-right: 30px;
}

.info-sub-group-header {
    margin-bottom: 0;
    margin-top: 30px;
}

.info-sub-group-header {
    margin-bottom: 0;
    margin-top: 30px;
}

.info-group-header {
    display: inline-block;
}

.additional-actions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.craete-panel {
    margin-bottom: 50px;
}