body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.theme-color {
  color: rgb(0, 188, 212) !important;
}

.theme-background-color {
  background-color: rgb(0, 188, 212) !important;
}

.theme-border-color {
  border-color: rgb(0, 188, 212) !important;
}

.page-background-bar {
  margin: 0;
  padding: 0;
  width: 100%;
}
